.styledComponent{
    flex-direction: column;
    position: relative;
    bottom: 0;
}

.fflabel {
    background: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    border: solid 2px #ffff;
}
.inpdfut {
    border: 1px solid #C0BFBF;
    border-radius: 10px;
    background: #a8b6ce;
    opacity: 0.5;
    
    background: #fbff01;
}
/* .inpdfut::before{
    content: '';
    background-image: url(assets/logo_main.png);
} */